@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.hero {
	padding-top: calc(70px + 1rem);
	position: relative;
	min-height: 100vh;
}

.text {
	user-select: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.littleTitle {
	position: relative;
	max-width: fit-content;

	font-size: 1.5rem;
	margin-bottom: 1rem;

	.titleBubble {
		position: absolute;
		z-index: -1;
		right: 160px;
		bottom: 5px;;
	}
}

.mainTitle {
	position: relative;
	max-width: fit-content;
	font-size: 3.5rem;
	font-family: 'Montserrat', sans-serif;
	h1 {
		text-align: center;
		display: flex;
		flex-direction: column;
		line-height: 4.5rem;
	}

	.mainTitleBubble {
		position: absolute;
		right: 70%;
		bottom: 3%;
		z-index: -1;
	}

}

