$white: #FFFFFF;
$dark-bg-color: #FBF1E6;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: $white;
}

.app {
	display: flex;
	flex-direction: column;
	min-width: 400px;
	min-height: 100vh;
}